/* ==========================================================================
    BASE.CSS
   ========================================================================== */


/*--------VARIABLES---------------*/

:root {

  /*BACKGROUND COLOR*/
--body-background-color: rgba(255, 255, 255, 1);

/*----------------FONTS-----------*/

/* ---------WIDTH  NAV, FOOTER, MAIN ON SMALL AND LARGE DEVICES------------*/
--lg-width: 96%;
--sm-width: 98%;

/* ---------PADDING ------------*/

--padding-top: calc(5px + 1vmin);


/* ---------MARGIN ------------*/

--margin-bottom: calc(5px + 1vmin);

}

/*--------END VARIABLES---------------*/


*, *:before , *:after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
 /* border: 1px solid red;*/
}


html, body {
  max-width: 100%;
  overflow-x: hidden; /*REMOVES HORIZONTAL SCROLLBAR THE ABOVE CREATES*/
  margin-top: 0px; /*COMPENSATES THE HORIZONTAL SCROLLBAR*/
  background: #fff;
  /*margin-left: calc(100vw - 100%); fix for jumping content does not work :(*/
  cursor:url("../assets/cursor__body.png"), auto;
}

body {
  background-color: var(--body-background-color);
}

a, a[data-wipe]{
  cursor: url("../assets/cursor__link.png"), pointer;
}



/*------CUSTOMIZED SCROLL BAR ------- */

html{
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 2px;
    height: 40px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid slategrey;
}


/*------ END CUSTOMIZED SCROLL BAR ------- */


h1 {
    margin-bottom: var(--margin-bottom);
}


.col-1 p {
margin-bottom: var(--body-font-size);
}

a {
text-decoration: none;
color: var(--dark-font-color);
}

ul {
  list-style: none;
}


.contact .contact-items p, address {
   margin: auto 0;
   padding-left: calc(5px + 1vmin);
}
 

/* ==========================================================================
    END BASE.CSS
   ========================================================================== */


    
